<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
  <link type = "text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
  <style>
    body{
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #dddddd;
      font-family: Verdana,Helvetica,sans-serif;
    }
  </style>
</head>
<body>
  <center>
    <br>
    <font size="+2" color="0000CC"> Bidding Page for {{ category_name }} Wines
    </font>
    <div><input type="hidden" name="category_name" value="{{ category_name }}"></div>
    <br>
    <br>
  </center>
  <hr>
  {% if error_sign_in %}
  <b align=right color=red font-size=13px> Please sign in! </b>
  {% endif %}

  {% if response_recorded %}
  <b align=right color=red font-size=13px>Your Response has been recorded!</b>
  {% endif %}
  <br/>
  <br/>
  {% for bid in bids %}
  <blockquote>
     Winery: {{ bid.wine.winery }}; variety: {{ bid.wine.variety }}; Year: {{ bid.wine.year }}; Region: {{ bid.wine.region }}; Country: {{ bid.wine.country }}; Current Highest Bid Price : ${{bid.highest_bid}}; Minimum Bid Price: {{ bid.wine.price }} <br/>
     Started on {{ bid.datetime_started }} UTC. Ends on {{ bid.datetime_end }} UTC. Time Left: {{ bid.datetime_end - currentTime }} <br/>
     <br/>
    <form action="/bidding?cart_name={{ cart_name }}&category_name={{ category_name }}" method="post">
      Quantity (Allowed to bid for maximum {{ bid.wine.quantity_available }})
      <div><input type="number" name="quantity" min="1" max="{{ bid.wine.quantity_available }}"></div>
      <div><input type="hidden" name="wine_id" value="{{ bid.wine.wine_id }}"></div>
      <div><input type="hidden" name="winery" value="{{ bid.wine.winery }}"></div>
      <div><input type="hidden" name="variety" value="{{ bid.wine.variety }}"></div>
      <div><input type="hidden" name="year" value="{{ bid.wine.year }}"></div>
      <div><input type="hidden" name="region" value="{{ bid.wine.region }}"></div>
      <div><input type="hidden" name="country" value="{{ bid.wine.country }}"></div>
      <div><input type="hidden" name="price" value="{{ bid.wine.price }}"></div>
      <div><input type="hidden" name="highest_bid" value="{{ bid.highest_bid }}"></div>
      <div><label for="bid_price">Bid Price:</label><input type="number" name="bid_price" min="{{ bid.wine.price }}"></div>
      <div><input name="cart_name" type="submit" value="Bid"></div>
    </form>
    {% if admin == 1 %}
    <form action="/delete_bids?catgory_name={{category_name }}" method="post">
        <div><input value="Delete" type="submit"></div>
        <div><input type="hidden" name="wine_id" value="{{ bid.wine.wine_id }}"></div>
    </form>
    {%endif%}
  </blockquote>
  {% endfor %}
  <br>
  <br>
  <a href="{{ url|safe }}">{{ url_linktext }}</a>
  <br>
  <br>
  {% if user %}
    <b> Signed in as {{ user.email() }} </b>
  {% else %}
    <b>Signed in as Guest </b>
  {% endif %}
  <br>
  <br>
  <center>
    <a href="."> Return to main page </a>
  </center>
</body>
</html>
{% endautoescape %}
